<p>Hi <%= @gift_card.name %>!</p>

<p>
<%= @gift_card.sender_name %> gave you a <%= number_to_currency @gift_card.price %> gift certificate!  
</p> 

<p style="text-align: center; font-style : italic; font-size: larger;">
  <%= simple_format @gift_card.note %>
</p>

<p>
Click on this <%= (link_to 'link', confirm_gift_card_url(@gift_card.token)) %>, create an account (or login to an existing account), and the gift certificate credit will be added to your account.
</p>

<p>Enjoy!</p>
